[Unit]
Description=Tyk API Gateway
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/tyk-gateway/tyk --conf=/opt/tyk-gateway/tyk.conf
Restart=always
WorkingDirectory=/opt/tyk-gateway

[Install]
WantedBy=multi-user.target
