.DS_Store
.idea/
.vagrant/
.venv/
.vscode/
coverage/
temp/
/middleware/bundles
testapps/

/vendor

/utils/release_live.sh
/utils/release_rc.sh
/utils/build_hybrid.sh
/utils/cloud_release.sh

/build_tools
/build

/*.conf
/*.json
/*.bak

/tyk
logs/
*.mprof
*.cov
/apps/test.json
logs
lint_results.txt
test_apps/
run.sh
petstore.json
*.cert
*.key
*.pem
*.csr
*.prof
*.blockprof
*.mutexprof
*.pdf
*.mmdb
*.so
*.log
!testdata/*.mmdb
*.pid
coprocess_gen_test.go
session_state_gen_test.go
__pycache__/
tyk.test
tyk-gateway.pid

tyk_linux_*
.aider*
/dist/

.terraform**
.terraform.lock.hcl
.task/
*.test

main

/coprocess/*.pb.go-e
