sudo: false
language: go

notifications:
  on_success: never
  on_failure: always

env:
  global:
    - TYK_LOGLEVEL=info

addons:
  apt:
    packages:
    - python3-dev
    - libluajit-5.1-dev

matrix:
  include:
    - go: 1.7.x
    - go: 1.8.x
      env: LATEST_GO=true # run linters and report coverage

services:
  - redis-server

install:
  - go install ./...

script:
  - go build -tags 'coprocess python'
  - go build -tags 'coprocess lua'
  - go build -tags 'coprocess grpc'
  - ./utils/ci-test.sh
  - if [[ $LATEST_GO ]]; then goveralls -coverprofile=<(gocovmerge *.cov); fi
