sudo: false
language: go

notifications:
  on_success: never
  on_failure: always

env:
  global:
    - TYK_LOGLEVEL=info

addons:
  apt:
    packages:
    - python3-dev
    - python3-pip
    - libluajit-5.1-dev

matrix:
  include:
    - go: 1.9.x
      env: LATEST_GO=true # run linters and report coverage

services:
  - redis-server

install:
  - go get
  - go install ./...
    # As of 1.9, ./... no longer includes ./vendor/...
  - go install ./vendor/{golang.org/x/tools/cmd/goimports,github.com/wadey/gocovmerge,github.com/mattn/goveralls}

script:
  - sudo pip3 install google
  - sudo pip3 install protobuf
  - go build -tags 'coprocess python'
  - go build -tags 'coprocess lua'
  - go build -tags 'coprocess grpc'
  - ./utils/ci-test.sh
  - if [[ $LATEST_GO ]]; then goveralls -coverprofile=<(gocovmerge *.cov); fi
  - ./utils/ci-benchmark.sh
