sudo: required
language: go

notifications:
  on_success: never
  on_failure: always

env:
  global:
    - TYK_LOGLEVEL=info

addons:
  apt:
    packages:
    - python3.5
    - python3-pip
    - python3.5-dev
    - libluajit-5.1-dev

matrix:
  include:
    - go: 1.10.x
    - go: 1.11.x
      env: LATEST_GO=true # run linters and report coverage


services:
  - redis-server

install:
  - go get
  - go install ./...
    # As of 1.9, ./... no longer includes ./vendor/...
  - go install ./vendor/{golang.org/x/tools/cmd/goimports,github.com/wadey/gocovmerge,github.com/mattn/goveralls}
  - go get github.com/go-swagger/go-swagger/cmd/swagger

script:
  - pip3 install setuptools
  - sudo pip3 install google
  - sudo pip3 install protobuf
    ### Needed to convert the swagger 2.0 file to openapi 3.0
    ### The swagger docs are actually written as per the 2.0 spec as there is no
    ### support for openapi 3.0 in Go - at least for now.
    ### https://github.com/nodesource/distributions/blob/master/README.md#debinstall
  - curl -sL https://deb.nodesource.com/setup_11.x | sudo -E bash -
  - sudo -E apt-get -yq --no-install-suggests --no-install-recommends $(travis_apt_get_options) install nodejs
  - sudo npm install -g api-spec-converter --unsafe-perm=true --allow-root
  - go build -tags 'coprocess python'
  - go build -tags 'coprocess lua'
  - go build -tags 'coprocess grpc'
  - ./bin/ci-swagger.sh
  - ./bin/ci-test.sh
  - if [[ $LATEST_GO ]]; then goveralls -coverprofile=<(gocovmerge *.cov); fi
  - ./bin/ci-benchmark.sh
