{
  "listen_address": "",
  "listen_port": 8080,
  "pid_file_location": "/var/run/tyk/tyk-gateway.pid",
  "secret": "352d20ee67be67f6340b4c0605b044b7",
  "template_path": "/opt/tyk-gateway/templates",
  "use_db_app_configs": false,
  "app_path": "/opt/tyk-gateway/apps",
  "middleware_path": "/opt/tyk-gateway/middleware",
  "storage": {
    "type": "redis",
    "host": "localhost",
    "port": 6379,
    "username": "",
    "password": "",
    "database": 0,
    "optimisation_max_idle": 500
  },
  "enable_analytics": false,
  "analytics_config": {
    "type": "",
    "ignored_ips": []
  },
  "optimisations_use_async_session_write": true,
  "allow_master_keys": false,
  "policies": {
    	"policy_source": "file",
    },
  "hash_keys": true,
  "suppress_redis_signal_reload": false
}
