name: API Changes

on:
  pull_request:
    branches:
      - master
      - release-**

jobs:
  godoc:
    uses: TykTechnologies/github-actions/.github/workflows/godoc.yml@upgrade/go1.21
    secrets:
      ORG_GH_TOKEN: ${{ secrets.ORG_GH_TOKEN }}
