name: intelligent branch merge suggestion.
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write
  contents: read

jobs:
  branch-suggestions:
    uses: TykTechnologies/github-actions/.github/workflows/branch-suggestion.yml@91e80f7cfb7bbaadb0529dec270611559e2b9f12
    secrets:
      JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}