name: intelligent branch merge suggestion.
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write
  contents: read

jobs:
  branch-suggestions:
    uses: TykTechnologies/github-actions/.github/workflows/branch-suggestion.yml@6569194c3a9748ca564130cad84fe3c0d52250cc
    secrets:
      JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}