name: Policy as Code

on:
  pull_request:
    paths:
      - ci/repo-policy

env:
  TERRAFORM_DIR: "./ci/repo-policy"
  GITHUB_TOKEN: ${{ secrets.ITS_GH_TOKEN }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::754489498669:role/gromit-ci
          role-session-name: gromitci
          aws-region: eu-central-1

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_DIR }}
        id: init
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: ${{ env.TERRAFORM_DIR }}
        id: plan
        run: |
          terraform validate && terraform plan
