# Keep the docs on tyk-docs in sync with this branch's docs

name: Update OAS docs

on:
  push:
    branches:
      - master
      - release-**

jobs:
  sync:
    name: tyk-oas-docs
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.ORG_GH_TOKEN }}
          repository: TykTechnologies/tyk-docs
          event-type: tyk-oas-docs
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
